mainmenu "Network Wi-Fi station mode application"

config UDP_SERVER_ADDR
	string "UDP Server IP address"
	help
	  The UDP server IP address
	  For example: "192.168.50.1"

config UDP_SERVER_PORT
	int "UDP Server Port"
	help
	  The UDP server port
	  For example: 4242

source "Kconfig.zephyr"
